<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncl.yujiaqi.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ncl.yujiaqi.system.domain.entity.User">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="is_active" property="isActive"/>
        <result column="bio" property="bio"/>
    </resultMap>

    <select id="selectByAccountAndPwd" resultMap="BaseResultMap" >
        select *
        from user
        where (email = #{account} or phone = #{account})
          and password = #{pwd}
          and deleted = 0
    </select>
    <select id="selectByEmail" resultType="ncl.yujiaqi.system.domain.entity.User">
        SELECT * FROM user
        <where>
            deleted = 0
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
        </where>
    </select>
    <select id="selectByPhone" resultType="ncl.yujiaqi.system.domain.entity.User">
        SELECT * FROM user
        <where>
            deleted = 0
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
        </where>
    </select>


</mapper>