<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncl.yujiaqi.dynamic.mapper.PostImgMapper">


    <resultMap id="BaseResultMap" type="ncl.yujiaqi.dynamic.domain.entity.PostImg">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="post_id" property="postId"/>
        <result column="url" property="url"/>
    </resultMap>
    <select id="deleteByPostId">
        update dyn_post_img
        set deleted = 1
        where post_id = #{postId}
    </select>

    <select id="selectByPostIds" resultType="ncl.yujiaqi.dynamic.domain.entity.PostImg">
        select *
        from dyn_post_img
        where deleted = 0
        and post_id in
        <foreach collection="postIds" index="postId" open="(" close=")" separator=",">
            #{postId}
        </foreach>
    </select>

    <select id="selectByPostId" resultType="ncl.yujiaqi.dynamic.domain.entity.PostImg">
        select *
        from dyn_post_img
        where deleted = 0
          and post_id = #{postId}
    </select>

</mapper>