<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncl.yujiaqi.dynamic.mapper.PostLikesMapper">


    <resultMap id="BaseResultMap" type="ncl.yujiaqi.dynamic.domain.entity.PostLikes">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
    </resultMap>
    <select id="selectByPostIds" resultType="ncl.yujiaqi.dynamic.domain.entity.PostLikes">
        select *
        from dyn_post_likes
        where deleted = 0
        and post_id in
        <foreach collection="postIds" index="postId" item="postId" open="(" close=")" separator=",">
            #{postId}
        </foreach>
    </select>
    <select id="selectByPostId" resultType="ncl.yujiaqi.dynamic.domain.entity.PostLikes">
        select *
        from dyn_post_likes
        where deleted = 0
          and post_id = ${postId}
    </select>

</mapper>